<div class="container my-container">
    <h1 class="text-center">Galéria</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><a href="assets/img/photo-1585330072336-c13ab483f154.webp" target="_blank" data-lightbox="cakes"><img class="img-thumbnail img-fluid" src="assets/img/photo-1585330072336-c13ab483f154.webp"></a></div>
            <div class="col-md-4"><a href="assets/img/photo-1581797833924-255242b10b3d.webp" target="_blank" data-lightbox="cakes"><img class="img-thumbnail img-fluid" src="assets/img/photo-1581797833924-255242b10b3d.webp"></a></div>
            <div class="col-md-4"><a href="assets/img/photo-1584847801423-852691e41bc7.webp" target="_blank" data-lightbox="cakes"><img class="img-thumbnail img-fluid" src="assets/img/photo-1584847801423-852691e41bc7.webp"></a></div>
        </div>
    </div>
</div>
